body {
	background-color: #535a6a;
	background-image: url("../images/stripes.png");
	background-repeat: repeat-x;
	background-position: top right;
	margin: 0px;
	padding: 0px;
}

hr {
	background-color: #fd6e6e;
	height: 2px;
	border: 0px;
}

#column1 {
	margin-left: 100px;
	margin-top: 100px;
	margin-bottom: auto;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 26px;
	vertical-align: top;
	display: inline-block;
	line-height: 50px;
}

#line {
	width: 40px;
	background-color: #fd6e6e;
}

#column2 {
	margin-top: 75px;
	vertical-align: top;
	display: inline-block;
}