html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	font-family: georgia, serif;
	font-size: 13pt;
	line-height: 1.8em;
	color: 404041;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column1{
	width: 40%;
	float: left;
	text-align: right;
	margin-top: 10px;
}

#column2{
	width: 50%;
	float: right;
	display: inline-block;
}

#column2 h4{
	text-align: left;
	line-height: 2.5em;
}

#coming_soon{
	padding: 40px 20px;
	float: right;
}

#contact{
	background: #013751 url("../images/footer-BG.png") no-repeat right bottom;
	padding: 60px 20% 60px 20%;
	text-align: left;
	margin: 0px auto;
	color: #ffffff;
}

#contact a{

	text-decoration: none;
	color: #ffffff;
}

#content{
	background-color: #F1F1F2;
	padding: 60px 20% 60px 20%;
	color: 404041;
}

#content-text{
	background-color: #ffffff;
	padding: 30px 30px; 
	color: 404041;
}


footer {
	background-color: #09222C;
	padding: 30px 5%;
	color: white;
	font-size: .8em;
}

h1 {
	font-family: Georgia, serif;
	font-size: 6em;
	line-height: .8em;
	letter-spacing: .1em;
}

h2{
	font-family: Georgia, serif;
	font-size: 2.5em;
	line-height: 1.1em;
	letter-spacing: .1em;
}

h3{
	font-family: Georgia, serif;
	font-size: 2em;
	line-height: 1em;
}

h4{
	font-family: verdana, sans-serif;
}

header {
	background: #026B9E url("../images/header-BG.png") no-repeat left top;
	padding: 0px 0% 0px 0%;
	color: #ffffff;
}

#logo{
	text-align: center;
	padding: 80px 20% 80px 20%;
}

#logo-image{
	padding: 20px 0px;
}

p {
	font-family: georgia, serif;
	font-size: 1.2em;
	line-height: 1.8em;
	text-align: center;
	color: 404041;
}

#page{
	text-align: center;
}



@media only screen and (max-width: 1030px){
	#column2{
		width: 50%;
		float: right;
		margin-left: 20px;
	}

	#column1{
		width: 40%;
		text-align: right;
	}

	#contact{
		padding: 60px 10% 60px 10%;
	}

	#content{
		padding: 60px 12%; 

}
	
	

@media only screen and (max-width: 770px){
	#column2{
		width: 60%;
		float: right;
		margin-left: 10px;
	}

	#column1{
		width: 30%;
	}

	#contact{
		padding: 50px 10% 50px 10%;
	}
	
	#coming_soon{
	padding: 20px 5px;
	float: none;
}

	h3{
	font-size: 1.5em;
	line-height: .8em;
}


@media only screen and (max-width: 645px){
	#column2{
		width: 90%;
		float: none;
		margin-left: none;
	}

	#column1{
		width: 90%;
		text-align: left;
	}

	.fullsite{
		display: none;
	}

}
	
@media only screen and (max-width: 430px){
	#column2{
		width: 100%;
		float: none;
		margin-left: none;
	}


