body {
	font-family: georgia, serif;
	font-size: 13pt;
	line-height: 1.8em;
	color: 404041;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#column1{
	width: 40%;
	float: left;
	text-align: right;
	margin-top: 10px;
}

#column2{
	width: 50%;
	float: right;
	display: inline-block;
}

#column2 h4{
	text-align: left;
	line-height: 2.5em;
}

#coming_soon{
	padding: 40px 20px;
	float: right;
}

#contact{
	background-color: #013751;
	padding: 60px 20% 60px 20%;
	text-align: left;
	margin: 0px auto;
	color: #ffffff;
}

#contact a{
	text-decoration: none;
	color: #ffffff;
}

#content{
	background-color: #F1F1F2;
	padding: 60px 20% 60px 20%;
	color: 404041;
}

#content-text{
	background-color: #ffffff;
	padding: 30px 30px; 
	color: 404041;
}


footer {
	background-color: #09222C;
	padding: 30px 5%;
	color: white;
	font-size: .8em;
}

h1 {
	font-family: Georgia, serif;
	font-size: 6em;
	line-height: .8em;
	letter-spacing: .1em;
}

h2{
	font-family: Georgia, serif;
	font-size: 2.5em;
	line-height: .8em;
	letter-spacing: .1em;
}

h3{
	font-family: Georgia, serif;
	font-size: 2em;
	line-height: .8em;
}

h4{
	font-family: verdana, sans-serif;
}

header {
	background: url("images/header-BG.png") no-repeat top left #026B9E;
	padding: 0px 0% 0px 0%;
	color: #ffffff;
}

#logo{
	text-align: center;
	padding: 80px 20% 80px 20%;
}

#logo-image{
	padding: 20px 0px;
}

p {
	font-family: georgia, serif;
	font-size: 1.2em;
	line-height: 1.8em;
	text-align: center;
	color: 404041;
}

#page{
	text-align: center;
}




}

@media only screen and (max-width: 1000px){
	
	#caption{
		float: none;
		text-align: center;
		width: 100%;
	}

	#column1, #column2{
		float: none;
		width: 100%;
		margin: 10px auto;
		text-align: center;
	} 

	#column1a{
		width: 25%;
	}

	.download_button{
		float: none;
	}

	#content1 img{
		width: 28%;
		height: 28%;
	}


	#intro{
		float: none;
		text-align: center;
		width: 80%;
		margin: 0px auto;
	}

	h3{
		text-align: center;
	}

	#logo{
		float: none;
	}

	nav{
		width: 100%;
		margin: 20px; auto;
		float: none;
	}

	nav a{
		float: none;
	}

	#slideshow{
		float: none;
		text-align: center;
		width: 60%;
		margin: 0px auto;
	}

	#template-screenshare{
		text-align: center;
		width: 80%;
		float: none;
		padding-top: 40px;
	}
}

@media only screen and (max-width: 800px){

}

@media only screen and (max-width: 500px){

	.download_button{
		float: none;
		width: 100%;
		margin: 20px 0px;

	}

	.download_button a{
		width: 100%;
		float: none;
		padding: 1em 20%;
		font-size: .9em;
	}

	#column1a img{
		width: 80%;
		height: 0%;
		padding-top: 5px;
	}

	#column1{
		float: none;
	}

	#column1b{
		width: 60%;
		padding-top: 0px;
	}

	#column2b{
		width: 60%;
		padding-top: 5px;
	}

	#column2a img{
		height: 60%;
	}

	#contact{
		width: 90%;
		padding: 0 0;
	}
	
	#content1{
		margin: 5% 0px;
	}

	#content1 img{
		width: 90%;
		height: 90%;
	}

	#content3{
		padding: 40px 0 20px 0;
		margin: 0 0;
	}

	#content4{
		padding: 40px 0 70px 0;
		margin: 0 0;
	}

	.email_button a{
		padding: 1em 4em;
	}

	#footer{

	} 

	#footerlogo, #footertext{
		float: none;
		text-align: center;
		padding: 0 0;
	}

	#free{
		float: none;
		margin: 0px 0px 15px 0px;
	}

	h1, h2{
		font-size: 3.5em;
	}

	h3{
		font-size: 3em;
		line-height: 1em;
	}

	h4{
		font-size: 1.1em;
	}

	header, #content2{
		padding: 8% 5%;
	}

	#intro{
		width: 100%;
	}

	#logo{
		padding-bottom: 15px;
	}

	nav{
		margin: 0px 0px;
		width: 100%;
	}

	nav a{
		width: 100%;
		text-align: center;
		float: none;
		padding: 1em 0px;
	}

	p{
		font-size: .8em;
	}

	#slideshow{
		width: 95%;
		margin-bottom: 15px;
	}

	.stand2, .stand3{
		display: none;
	}

	#top{
		padding: 15px 0px 0px 0px;
	}

	#top_button{
		display: block;
	}

	#template-screenshare{
		width: 90%;
		height: auto;
	}
}

