body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 400;
	border-style: solid;
	border-width: 8px;
	border-color: #f8aca5;
}

header{
	margin: 0;
	padding: 0;
	background-image: url("../images/header_background.jpg");
	background-position: center;
	background-size: cover;
}

#header_content{
	padding-top: 80px;
	padding-bottom: 100px;
}

#wordmark{
	margin-bottom: 0px;
	padding: 0;
}

hr{
	width: 50px;
	background-color: #ffffff;
	height: 2px;
	border: 0px;
	margin: 30px, 0, 0, 0;
	padding: 0;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 45pt;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.ampersand{
	position: relative;
	bottom: -20px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-variant: normal;
	font-weight: lighter;
	font-size: 90pt;
}

h2{
	font-family: 'Playfair Display', serif;
	font-size: 14pt;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 20px;
	}	

#content{
	margin-right: auto;
	margin-left: auto;
	padding-right: 10%; 
	padding-left: 10%;
}

h3{	
	font-family: 'Playfair Display', serif;
	font-size: 18pt;
	font-weight: 400;
	letter-spacing: 2px;
	color: #58595b;
	line-height: 2;
}

.cupcake{
	width: 40px;
	height: auto;
	margin: 30px;
}

p{
	font-family: 'Playfair Display', serif;
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 0px;
	color: #58595b;
	line-height: 2;
	margin: 0;
}

#button_outside{
	padding: 0;
	width: 160px;
    height: 70px;
    margin-top: 40px;
    margin-right: auto;
	margin-left: auto;
}

#button_text{
	width: 160px;
}

a.menu_button:link, a.menu_button:visited {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 16pt;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #ffffff;	
    background-color: #f8aca5;
    text-decoration: none;
}

a.menu_button:hover, a.menu_button:active {
    background-color: #db9791;
}

.footer_content{
	font-family: 'Playfair Display', serif;
	font-size: 10pt;
	font-weight: 400;
	letter-spacing: 0px;
	color: #58595b;
	line-height: 2;
	padding: 20px;
}	

hr.footer_hr{
	width: 50px;
	background-color: #a1a1a1;
	height: 2px;
	border: 0px;
	margin: 30px, 0, 0, 0;
	padding: 0;
}

footer{
	border-top: 1px, solid, #58595b;
	padding: 20px;
	margin: 20px;
}

a{	
	font-family: 'Playfair Display', serif;
	font-size: 10pt;
	font-weight: 700;
	letter-spacing: 0px;
	color: #f8aca5;
	line-height: 2;
	text-decoration: none;
}	
