body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: 400;
	border-style: solid;
	border-width: 8px;
	border-color: #f8aca5;
}

#short{
	margin: 0;
	padding: 0;
	height: 80px
}

#header{
	margin: 0;
	padding: 0;
	background-image: url("../images/header_background.jpg");
	background-position: center;
	background-size: cover;
}

#content{
	margin-right: auto;
	margin-left: auto;
	padding-right: 10%; 
	padding-left: 10%;
}

.cupcake{
	width: 40px;
	height: auto;
	margin: 30px;

}

.ampersand{
	position: relative;
	top: -180px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-weight: normal;
	font-size: 90pt;
	padding-bottom: 0;
}

#header_content{
	padding-top: 100px;
	padding-bottom: 100px;
}

hr{
	width: 50px;
	background-color: #ffffff;
	height: 2px;
	border: 0px;
	margin-top: 30px;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 45pt;
	text-transform: uppercase;
	word-spacing: 110px;
	color: #ffffff;
}

h2{
	font-family: 'Playfair Display', serif;
	font-size: 14pt;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 20px;
	margin-top: 40px;
	}	

h3{	
	font-family: 'Playfair Display', serif;
	font-size: 18pt;
	font-weight: 400;
	letter-spacing: 2px;
	color: #58595b;
	line-height: 2;
}

p{
	font-family: 'Playfair Display', serif;
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 0px;
	color: #58595b;
	line-height: 2;
	margin: 0;

}

#button{
	background-color: #f8aca5;
	border-width: 0;
	width: 160px;
	height: 70px;
	margin: 40px;
	position: center;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}

.button{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16pt;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #ffffff;	
	text-decoration: none;
	margin-top: 20px;
}